<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @geolocation.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @geolocation.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @geolocation.longitude %>
</p>

<%= link_to 'Edit', edit_geolocation_path(@geolocation) %> |
<%= link_to 'Back', geolocations_path %>
