<%if !session[:user_id]%>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="events">AroundUni</a>
        </div>
        <div class="navbar-collapse collapse">
          <form accept-charset="UTF-8" action="/sessions" class="navbar-form navbar-right" method="post">
           <input name="utf8" value="✓" type="hidden">
           <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
           <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
             <input type="password" placeholder="Password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" value="Save changes" name="commit" class="btn btn-success">Sign in</button> 
         </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    
        
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <p><h4>Want to know what's going on around campus?</h4></p>
       
        <font color=white><a href="<%= regular_users_sign_up_path %>" class="btn btn-info btn-lg" >Sign Up  </a></font>
        
      </div>
    </div>
    
    
    
    
    
    
 <%else%>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
                   <a class="navbar-brand" href="/">AroundUni</a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Log Out", "/log_out" %></li>
            

          <%if session[:user_type] == "RegularUser"%>
          
          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/regular_events">My Events</a></li>
                <li><a href="#">My Verifications</a></li>
              </ul>
            </li>
          </ul>
          
            <%end%>
            
          <%if session[:user_type] == "PartnerUser"%>
          
          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/special_events">My Events</a></li>
                <li><a href="#">My Verifications</a></li>
              </ul>
            </li>
          </ul>
          
            <%end%>


          <%if session[:user_type] == "RegularUser"%>
               <form accept-charset="UTF-8" action="<%= new_regular_event_path %>" class="navbar-form navbar-right" method="get">
            <button type="submit" class="btn btn-success">Post Event</button> 
               </form>  

            <%end%>
            
          <%if session[:user_type] == "PartnerUser"%>
               <form accept-charset="UTF-8" action="<%= new_special_event_path %>" class="navbar-form navbar-right" method="get">
            <button type="submit" class="btn btn-success">Post Event</button> 
               </form>  
               <%end%>
            
            
            
            

			
			
			
			
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
<%end%>

    <div class="container">
    	
      <!-- Example row of columns -->
      <div class="row">
    <% @events.each do |event| %>
    
    <%
    style = ""
    label = ""
    if event.type == "SpecialEvent"
    	style = "alert alert-info"
    	label = "<span class='label label-info'>Partner Event</span>"
    else
      if event.verifications.count > 0
    	style = "alert alert-success"
      end
    end
    %>
        <div class="col-lg-8 <%=style%>">
          <h4><%=event.name%> <% if event.type == "SpecialEvent"%> 
          				<span class="label label-info">Partner Event</span>
          				<%else%>
          				  <%if event.verifications.count > 0%>
          				   <span class="label label-info"><%=event.verifications.count%> users verified</span>
          				  <%end%>
          				<%end%>
          </h4>
          <%if session[:location]%>
          <h5>Distance: <%=event.distance.round(3)*1000%> m</h5>
          <%end%>
          <p><a class="btn btn-default" href="/events/<%=event.id%>">View details &raquo;</a> </p>

        </div> 
            
      <% end %>   
      </div>


      <hr>

      <footer>
        <p>&copy; AroundUni 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    


























