<%if !session[:user_id]%>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="/">AroundUni</a>
        </div>
        <div class="navbar-collapse collapse">
          <form accept-charset="UTF-8" action="/sessions" class="navbar-form navbar-right" method="post">
           <input name="utf8" value="✓" type="hidden">
           <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
           <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
             <input type="password" placeholder="Password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" value="Save changes" name="commit" class="btn btn-success">Sign in</button> 
         </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    
        
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <p><h4>Want to know what's going on around campus?</h4></p>
       
        <font color=white><a href="<%= regular_users_sign_up_path %>" class="btn btn-info btn-lg" >Sign Up  </a></font>
        
      </div>
    </div>
    
    
    
    
    
    
 <%else%>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
                   <a class="navbar-brand" href="/">AroundUni</a>
        </div>
        
        
        
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Log Out", "/log_out" %></li>
            

          <%if session[:user_type] == "RegularUser"%>
          
          
                <li><a href="/regular_events">My Events</a></li>

          
            <%end%>
            
          <%if session[:user_type] == "PartnerUser"%>
          
          
                <li><a href="/special_events">My Events</a></li>

            <%end%>


          <%if session[:user_type] == "RegularUser"%>
               <form accept-charset="UTF-8" action="<%= new_regular_event_path %>" class="navbar-form navbar-right" method="get">
            <button type="submit" class="btn btn-success">Post Event</button> 
               </form>  

            <%end%>
            
          <%if session[:user_type] == "PartnerUser"%>
               <form accept-charset="UTF-8" action="<%= new_special_event_path %>" class="navbar-form navbar-right" method="get">
            <button type="submit" class="btn btn-success">Post Event</button> 
               </form>  
               <%end%>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
<%end%>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
  		<h1><%=@event.name%></h1>
  		
   	 <%if session[:user_id]%>  
  		<%if @event.user_id == session[:user_id]%>
  		   <%if @event.type == "RegularEvent"%>  		  
  		    <h4><a href="/regular_events/<%=@event.id%>/edit">Edit</a></h4>
  		    <h4><a data-confirm="Are you sure?" data-method="delete" href="/regular_events/<%=@event.id%>" rel="nofollow">Delete</a></h4>  		    
  		   <%else%>
  		    <h4><a href="/special_events/<%=@event.id%>/edit">Edit</a></h4>
  		    <h4><a data-confirm="Are you sure?" data-method="delete" href="/special_events/<%=@event.id%>" rel="nofollow">Delete</a></h4>  		    
  		   <%end%>
        <%else%>
        <%if @event.type == "RegularEvent"%>  		  
			<%if @event.verifications.where(user_id: session[:user_id]).count == 0%>
         	<form accept-charset="UTF-8" action="/verify" method="post">
           	<input name="utf8" value="✓" type="hidden">
          	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          	<input type="hidden" id="event_id" name="event_id" value="<%=@event.id%>">
          	<button type="submit" value="Verify" class="btn btn-default">Verify Event</button> 
  			</form>
  		<%end%>
  	  <%end%>
  	<%end%>
  	<%end%>	
      </div>
      <div class="row">
  		<h4><%=@event.description%></h4>
      </div>
     <%if @event.start_time and @event.end_time%>
    <div class="row">
  		<h4><%=@event.start_time.strftime("%H:%M")%> - <%=@event.end_time.strftime("%H:%M")%></h4>
      </div>
      <%end%>
      
      <div class="row">
		<div id="mapholder">
			<%latlon = @event.latitude.to_s
			   latlon << "," 
			   latlon << @event.longitude.to_s %>
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=latlon%>&zoom=17&size=350x350&markers=color:blue%7Clabel:S%7C<%=latlon%>&sensor=false">
			<p><%=@event.address%></p>
		</div>
	  </div>
      <hr>
<%if session[:user_id]%>
  <div class="row">
  <ul class="list-group">
  <li class="list-group-item">
  	 	<%= form_for(@comment) do |f| %>
  	 	  <div class="form-group">
           <div class="row">
           	<div class="col-lg-4">
              <input type="text" class="form-control" placeholder="Post a comment!" id="comment_text" name="comment[text]">
              <input type="hidden" class="form-control" placeholder="Post a comment!" id="comment_event_id" name="comment[event_id]" value=<%=@event.id%>>            
            </div>
            <div class="col-lg-2">            
              <button type="submit" class="btn btn-default">Post</button>
            </div>
          </div>
        <%end%>
    </li>
  	<%@event.comments.each do |comment|%>
   
  <li class="list-group-item">
    <span class="badge"><%=User.find(comment.user_id).name%></span>    
    <%=comment.text %>
    
    
    
  </li>
  <%end%>
</ul>

  </div>	
  <%end%>
      <footer>
        <p>AroundUni 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
