<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/events">AroundUni</a>
        </div>
        
        
        
        
        

        
        
        
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Log Out", "/log_out" %></li>
            
                                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Post Event</a></li>
                <li><a href="#"><%= link_to "My Events", regular_events_path %></a></li>
                <li><a href="#">My Verifications</a></li>
                <li class="divider"></li>
                
              </ul>
            </li>
            
            
            
            
            <li class="dropdown">
            </li>
          </ul>
          <form accept-charset="UTF-8" action="<%= new_regular_event_path %>" class="navbar-form navbar-right" method="get">
            <button type="submit" class="btn btn-success">Post Event</button> 
         </form>
                  
                
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
  		<h1><%=@event.name%></h1>
  		
   	 <%if session[:user_id]%>  

  		<%if @event.user_id == session[:user_id]%>

  		   <%if @event.type == "RegularEvent"%>  		  
  		    <h3><a href="/regular_events/<%=@event.id%>/edit">Edit</a></h3>
  		    <h3><a data-confirm="Are you sure?" data-method="delete" href="/regular_events/<%=@event.id%>" rel="nofollow">Delete</a></h3>  		    
  		   <%else%>
  		    <h3><a href="/special_events/<%=@event.id%>/edit">Edit</a></h3>
  		   <%end%>
        <%else%>
          <%if @event.verifications.where(user_id: session[:user_id]).count == 0%>
         <form accept-charset="UTF-8" action="/verify" method="post">
           <input name="utf8" value="✓" type="hidden">
           <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
           <input type="hidden" id="event_id" name="event_id" value="<%=@event.id%>">
           <button type="submit" value="Verify" class="btn btn-default">Verify Event</button> 
  		</form>
  	  <%end%>
  	<%end%>
  	<%end%>	
      </div>
      <div class="row">
  		<h2>Description</h2>
  		<p><%=@event.description%></p>
      </div>
      <div class="row">
		<div id="mapholder">
			<%latlon = @event.geolocation.latitude.to_s
			   latlon << "," 
			   latlon << @event.geolocation.longitude.to_s %>
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=latlon%>&zoom=18&size=250x250&markers=color:blue%7Clabel:S%7C<%=latlon%>&sensor=false">
			<p><%=@event.geolocation.address%></p>
		</div>
	  </div>
      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  



<p>
