<h1>Sign Up</h1>

<%= form_for(@regular_user) do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
