	
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AroundUni</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Log Out", "/log_out" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="special_events/new">Post Event</a></li>
                <li><a href="special_events">My Events</a></li>
                <li><a href="#">My Verifications</a></li>
              </ul>
            </li>
          </ul>
          <form accept-charset="UTF-8" action="<%= new_regular_event_path %>" class="navbar-form navbar-right" method="get">
            <button type="submit" class="btn btn-success">Edit Event</button> 
         </form>
                  
                
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
  <h1>Edit Event</h1>
  <hr class="seperate"/>
  <div class = "sign_up_form"><!-- form container -->
    <%= form_for(@special_event) do |f| %>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Event name" id="special_event_name" name="special_event[name]" value="<%=@special_event.name%>">
      </div>
      
      
    <div class="form-group">
      <label>Start Time</label>
          <%= f.datetime_select :start_time %>

      </div>
    <div class="form-group">
      <label>End Time</label>
    <%= f.datetime_select :end_time %>
      
      </div>
      
        
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" type="text" placeholder="Write Description" id="special_event_description" name="special_event[description]"><%=@special_event.description%></textarea>
      </div>
      <button type="submit"  class="btn btn-success">Update</button>
 <% end %>
 
      </div>

      <hr>

      <footer>
        <p>AroundUni 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  

