<h1>Your Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @regular_events.each do |regular_event| %>
      <tr>
        <td><%= regular_event.name %></td>
        <td><%= regular_event.description %></td>
        <td><%= regular_event.type %></td>
        <td><%= link_to 'Show', regular_event %></td>
        <td><%= link_to 'Edit', edit_regular_eventn_path(geolocation) %></td>
        <td><%= link_to 'Destroy', regular_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geolocation', new_geolocation_path %>
