<script type="text/javascript">
  $(document).ready(function(){		
    $('.post_mainContainer').blurjs({
				source: 'body',
				offset: {           //Pixel offset of background-position
       					 x: 0,
       					 y: 0
   				 },
				
				overlay: 'rgba(255,255,255,0.7)',
				radius:40,
				debug:'true'
			});
		});
</script>
<script>
function getLocation()
{
  if (navigator.geolocation)
  {
    navigator.geolocation.watchPosition(setPosition);
  }
  else
  {
  	//todo: handle if browser doesn't support gps.
  }
}

function setPosition(position)
{
  document.getElementById("regular_event_geolocation_attributes_latitude").value = position.coords.latitude;
  document.getElementById("regular_event_geolocation_attributes_longitude").value = position.coords.longitude;	
}
</script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
$( document ).ready(function() {
  getLocation();
});
</script>

	
<div class="post_mainContainer"><!-- main container -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AroundUni</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Events</a></li>
          <li class="active"><a href="#about">Post</a></li>
        </ul>
        <div class="logout">	    
          <button type="submit" class="btn btn-success">Log out</button>
        </div>
		<div class="user_info">
		  <p>Hello Peter!</p>
		</div>		
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  <br>
  
  <h1>Post</h1>
  <hr class="seperate"/>
  <div class = "sign_up_form"><!-- form container -->
    <%= form_for(@regular_event) do |f| %>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Event name" id="regular_event_name" name="regular_event[name]">
      </div>
      <div class="form-group">
        
    <div class="form-group">
      <label>Time</label>
      <!-- time picker -->
      <%time = Time.new %>
      <div class="bfh-timepicker" data-time="<%=time.hour.to_s+":"+time.min.to_s%>">
        <div class="input-group bfh-timepicker-toggle" data-toggle="bfh-timepicker">
          <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          <input type="text" class="form-control" readonly>
        </div>
        <div class="bfh-timepicker-popover">
          <table class="table">  
            <tbody>
              <tr>
                <td class="hour">
                  <a class="next" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a><br>
                  <input type="text" readonly><br>
                  <a class="previous" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                </td>
                <td class="separator">:</td>
                <td class="minute">
                  <a class="next" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a><br>
                  <input type="text" readonly><br>
                  <a class="previous" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Location</label>
      </div>
      <div class="form-group">
        <label>Constraints</label>
        <textarea class="form-control" rows="1" type="text" placeholder="Write constrains"></textarea>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" type="text" placeholder="Write Dexcription" id="regular_event_description" name="regular_event[description]"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Post</button>
 <%= f.fields_for :geolocation do |ff| %>
 <p> 	
 	<%= ff.text_field :latitude%>
 </p>
 <p>
 	<%= ff.text_field :longitude %><br> 	
 </p> 
 <%end%>
    <% end %>
  <!--    <footer>
        <p>&copy; Company 2013</p>
      </footer> -->
  </div> <!-- /container -->
  <hr class="seperate"/>

</div><!-- main container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 <!--   <script src="js/jquery.js"></script> -->
  <!--  <script src="js/bootstrap.min.js"></script>-->


 <!--   <script src="js/blurjs/blur.js"></script>
    <script src="js/blurjs/blur.devjs"></script>
    <script src="js/blurjs/blur.min.js"></script> -->
 

