<script>
function getLocation()
{
  if (navigator.geolocation)
  {
    navigator.geolocation.watchPosition(setPosition);
  }
  else
  {
  	//todo: handle if browser doesn't support gps.
  }
}

function setPosition(position)
{
  document.getElementById("regular_event_geolocation_attributes_latitude").value = position.coords.latitude;
  document.getElementById("regular_event_geolocation_attributes_longitude").value = position.coords.longitude;	
}
</script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
$( document ).ready(function() {
  getLocation();
});
</script>

<h1>New Event</h1>

<p id="demo"></p>
<button onclick="getLocation()">Carregar posicao</button>
<%= form_for(@regular_event) do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
 
 <%= f.fields_for :geolocation do |ff| %>
 <p>
 	<%= ff.label :latitude %><br>
 	<%= ff.text_field :latitude%>
 </p>
 <p>
 	<%= ff.label :longitude %><br>
 	<%= ff.text_field :longitude%>
 </p>
 
 <%end%>
  <p>
    <%= f.submit %>
  </p>
<% end %>
