<!DOCTYPE html>
<html>
<head>
  <title>AroundUni</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- formhelper js-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">



	<script type='text/javascript' src='../js/bootstrap-formhelpers.js'></script>
      <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css"> 

    <!-- Custom styles for this template -->
    <link href="../../css/jumbotron.css" rel="stylesheet">

</head>

<body>
<script>

var latitude = "0";
var longitude = "0";

function getLocation()
{
  if (navigator.geolocation)
  {
    navigator.geolocation.watchPosition(setPosition);
  }
  
}
function setPosition(position)
{
  latitude = position.coords.latitude.toString();
  longitude = position.coords.longitude.toString();  
  position_set = true;
}


function worker() {
    
     $.ajax({
  	    type: "POST",
        url: "/update_location",
        data: { latitude: latitude, longitude: longitude, authenticity_token:"<%= form_authenticity_token %>", utf8:"✓"  },
        success: function() {
            $('.result').html("jdjasijda");
            },
        complete: function() {
          // Schedule the next request when the current one's complete
          setTimeout(worker, 5000);
        }
      });
     
   }
</script>

<script>

$( document ).ready(function() {
  getLocation();
  worker();
});
   
</script>

    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

    <%= yield %>

<div id="warn" name="warn" class="container">
    <% if session[:location] %>
    <% else %>
    PROBLEMS WITH GPS SIGNAL: Verify your browser permission and reload the page.
    <%end%>    
          
  
</div>
<script src="../../js/jquery.validate.js"></script>  
</body>
</html>






