<!DOCTYPE html>
<html>
<head>
  <title>AroundUni</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type='text/javascript' src='../js/blurjs/blur.js'></script>
  <!-- formhelper js-->
	<script type='text/javascript' src='../js/bootstrap-formhelpers.js'></script>
  
</head>

<body>
  <% if current_user %>
    Logged in as <%= current_user.email %>
  <% else %>
     Fucked up
<% end %>
<%puts "I am here"%>

<% if session[:user_id] %>
  <%= session[:user_id]%>
  <% else %>
     Fucked up
<% end %>
oidjosidjoaisjdoiasjdoiasjoidjasoijdioasjdoas
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  
    <%= yield %>


</body>
</html>






