<!DOCTYPE html>
<html>
<head>
  <title>AroundUni</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- formhelper js-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">



	<script type='text/javascript' src='../js/bootstrap-formhelpers.js'></script>
      <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"> 

    <!-- Custom styles for this template -->
    <link href="../../css/jumbotron.css" rel="stylesheet">

</head>

<body>
  <% if current_user %>
    Logged in as <%= current_user.email %>
  <% else %>
    
<% end %>
<%puts "I am here"%>

<% if session[:user_id] %>
  <%= session[:user_id]%>
  <% else %>
     
<% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  
    <%= yield %>


</body>
</html>






